@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #6d28d9; /* Purple */
  --secondary: #10b981; /* Green */
  --dark: #1f2937;
  --light: #f3f4f6;
  --light-gray: #37404d;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--dark) !important;
  background: radial-gradient(circle, rgba(200, 200, 200, 0.2) 1px, transparent 1px);
  background-size: 10px 10px;
  min-height: 100vh;
}

/* Estilo do Container Cadastro de produtos */
@media screen and (min-width: 1408px) {
  .container:not(.is-max-tablet):not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: 800px !important;
  }
}
/* Estilo para o botão */
.button.is-fullwidth {
  padding: 10px 20px;
}

/* Efeito de Hover personalizado do Sidebar */
.button.is-fullwidth:hover {
  background-color: #f5f5f5 !important; /* Cor de fundo ao passar o mouse */
  color: #000 !important; /* Cor do texto ao passar o mouse */
}
/* Estilo do Formulário */
.card{
  background: #f5f7f9 !important;
  color: #171717 !important;
  /* sombra no formulário */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
/* Estilo do campo de entrada */
.field.column.is-half{
  background-color: #f5f5f5 !important;
}
/* Estilo do Título do formulário */
.card-header-title{
  color: #171717 !important;
}
/* Estilo do Label */
.label{
  color: #171717 !important;
}
/* Estilo do Input */
#inputSku,#inputPreco,#inputNome,#inputDesc{
  background: #fff !important;
  color: #171717 !important;
  border: .1px solid rgba(0,0,0,0.2) !important;
  
}
/* placeholder */
:is(#inputSku,#inputPreco,#inputNome,#inputDesc)::placeholder {
  color: #17171759 !important;
}
